<!DOCTYPE html>
<html>
<head>
<title>Hello Web</title>
<meta charset=utf-8">
</head>
<body>
    <h1>Join</h1>
    <form method="POST" action="/user/join">
        <label>이름</label>
        <input name="name" type="text"/>

        <label>이메일</label>
        <input name="email" type="text"/>

        <label>비밀번호</label>
        <input name="password" type="password"/>

        <input value="가입" type="submit"/>
    </form>

</body>
</html>